#Ignore these types NOT including Excels and Gsheets

# Temp files
*.tmp

# OpenOffice
*.o*

# Google
# *.g*

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel and Backup File
*.xlk
#*.xls*

# PowerPoint and temporary
~$*.ppt*
*.ppt*

# Visio autosave temporary files
*.~vsd*
*.vsd*

# OpenOffice autosave temp files
**/.~lock.*
.~lock.*

# Except this file - after you begin to save artefacts then you will want to edit or comment out the above lines
!.gitignore

# And the README.md
!README.md